:root {
  --primary-color: #026A90;
  --secondary-color:lightgray;
}

*{
   margin: 0;
   box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
  font-family: sans-serif;
  margin: 0;
}
header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}

.search {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 50px;
  font-size: 1rem;
  padding: 1rem;
  color: white
}

.search::placeholder {
  color: white;
}

.search:focus {
  outline: none;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--primary-color);
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie img {
  width: 100%;
}

.movie-info{
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 1px ;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
}